DATABASE_URL=postgresql://username:password@host/database_name
DATABASE_URL_SPECTRE = postgresql://username:password@host:port/spectre_database
SECRET_KEY= your_secret_key

ALLOWED_DOMAIN = allowed_domain_name

OPENAI_API_KEY = your_open_api_key

email_contact = your_contact_email

email_password = your_email_password